@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css">
        <link rel="stylesheet" href="~/css/AdminLTE.css">
        <link rel="stylesheet" href="~/css/skins/skin-blue.css">
        <link rel="stylesheet" href="~/css/theme/LifeSkin.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging1,Production1">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/AdminLTE.min.css">
        <link rel="stylesheet" href="~/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="~/css/theme/LifeSkin.css">
        <link rel="stylesheet" href="~/css/site.min.css" />
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="hold-transition life-dark skin-blue sidebar-mini fixed">
    <div class="wrapper">
        <!-- Main Header -->
        @await Html.PartialAsync("_Navbar")
        <!-- Left side column. contains the logo and sidebar -->
        @await Html.PartialAsync("_Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @(ViewBag.PageTitle)
                    <small>@(ViewBag.PageTitle)</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> @(ViewContext.RouteData.Values["controller"].ToString())</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @await Html.PartialAsync("_Footer")
        <!-- Control Sidebar -->
        @await Html.PartialAsync("_ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
            $(function () {
                $("body").on("click", "a.menu-link", function (e) {
                    var elme = $(this);
                    var path = elme.data("link");
                    if (!path) return;
                    var linkMenus = $("a.menu-link");
                    var liMenus = elme.parents("li.menu-li");
                    var curMenuIds = [];
                    liMenus.each(function (idx, li) {
                        curMenuIds.push($(li).data("id"));
                    });
                    //LLY.cookie.set("curMenuIds", curMenuIds.join(","));
                    //e.preventDefault();
                    //window.location.href = path;
                });
                //collapsed
                $("body").on("expanded.pushMenu", function () {
                    $.AdminLTE.layout.fixSidebar();
                    //LLY.cookie.set("sidebarCollapse", "");
                }).on("collapsed.pushMenu", function () {
                    $.AdminLTE.layout.fixSidebar();
                    //LLY.cookie.set("sidebarCollapse", "sidebar-collapse");
                });
            });
    </script>
</body>

</html>
